.container {
  width: 100%;
}

.row {
  width: 70%;
  margin: 0 auto;
}

.btn {
  border: none;

  cursor: pointer;
  width: 17rem;
  height: 5rem;
  padding: 1.4rem 3.3rem 1.4rem 4.6rem;
  border-radius: 2px;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.btn-primary {
  background: linear-gradient(172deg, var(--btn-color-from) 0, var(--btn-color-to) 100%);
  color: #fff;
}
