.flexbox {
  display: flex;
}

.flexbox-center {
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.gap-small {
  gap: 2.2rem;
}

.margin-top-small {
  margin-top: 2.2rem;
}

.block {
  display: block;
}
